@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "_nullstyle";

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

input {
  margin: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 16px;
  background-color: #e7e6ec;
  font-family: "Luckiest Guy", cursive;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}
/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-bottom: 40px;
  background-color: #ff5b47;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 60px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }
}

.menu {
  &__logo {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;

    @media (max-width: 455px) {
      margin: 0 auto;
    }
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    @media (max-width: 455px) {
      justify-content: center;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 5px;
    font-size: 24px;
    line-height: 160%;
    transition: 0.5s;
  }

  &__link::before {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    background-color: white;
    height: 4px;
    bottom: -3px;
    transition: 0.4s;
  }

  &__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
  }

  &__link._active::before {
    width: 100%;
    right: auto;
    left: 0;
  }
}

/*-------------------------------------------------------------*/
/*-----Operation-----------------------------------------------*/
/*-------------------------------------------------------------*/
.operation__container {
  display: flex;
  flex-direction: column;
}
.operation__score {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 10px;
  margin-bottom: 20px;
}

.operation__score li {
  min-width: 140px;
  text-align: center;
  border-radius: 5px;
  font-size: 70px;
  color: white;
  padding: 20px;
  transition: 0.4s;

  &:nth-child(1) {
    background-color: #20a8cc;
    @media (max-width: 530px) {
      flex: 1 1 100%;
    }
  }

  &:nth-child(2) {
    position: relative;
    background-color: #52cc20;
  }

  &:nth-child(3) {
    position: relative;
    background-color: #ff5a49;
  }
}

.operation__right {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
  color: #ffffff;
  font-size: 30px;
  transition: top 0.8s;
}

.operation__wrong {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
  color: #ffffff;
  font-size: 30px;
  transition: top 0.8s;
}

.operation__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.operation__equation {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 40px 40px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 100px;
  @media (max-width: 570px) {
    padding: 10px;
    gap: 40px 15px;
  }
  @media (max-width: 385px) {
    padding: 5px;
    font-size: 80px;
  }
}

.operation__equation li {
  &:nth-child(1) {
    color: #ff5a49;
  }

  &:nth-child(2) {
    color: #20a8cc;
  }

  &:nth-child(3) {
    color: #fdd465;
  }
  &:nth-child(4) {
    color: #ff5b4a;
  }
  &:nth-child(5) {
    color: #818081;
  }
}
.operation__answers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  @media (max-width: 767px) {
    flex-direction: row;
    justify-content: center;
    gap: 20px 10px;
  }
}

.operation__answers li {
  min-width: 130px;
  text-align: center;
  border-radius: 5px;
  font-size: 60px;
  color: white;
  cursor: pointer;
  padding: 40px;
  transition: 0.4s;

  @media (max-width: 570px) {
    padding: 5px;
  }

  &:nth-child(1) {
    background-color: #ff5a49;
    &:hover {
      color: #ff5a49;
      background-color: white;
    }
  }

  &:nth-child(2) {
    background-color: #20a8cc;
    &:hover {
      color: #20a8cc;
      background-color: white;
    }
  }

  &:nth-child(3) {
    background-color: #fdd465;
    &:hover {
      color: #fdd465;
      background-color: white;
    }
  }
}
/*-------------------------------------------------------------*/
/*-----FOOTER--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  padding: 25px 0px;
  &__list {
    border-radius: 5px;
    padding: 25px 0px;
    background-color: #20a8cc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px 20px;
  }
  &__item {
    text-align: center;
    font-size: 25px;
    color: white;
  }
  &__link {
    font-size: 25px;
    color: white;
    transition: all 0.2s ease-in;
    &:hover {
      color: #fdd465;
    }
  }
}
